<div class="container mb-3">
    <div>
        <div class="alert alert-info alert-dismissible fade show" [ngClass]="alertVisibility()">
            <h3>Welcome!</h3>
            <p>Thank you for checking out this todo lister I've made, this is nothing more than a experiement to learn angular, so is non-functional in some ways</p>
            <ul>
                <li>Use the text box below to add new todo items.</li>
                <li>Mark todo items as complete by using the checkbox.</li>
                <li>Delete a todo by using the "X" button on each.</li>
                <li>You can dismiss this alert by using the "X" above. This is done by a probably horrific implementation of local storage.</li>
            </ul>
            <button type="button" class="close" data-dismiss="alert" (click)="dismissAlert()"><span>&times;</span></button></div>
        <form name="title">
            <div class="d-md-flex">
                <input class="form-control" type="text" placeholder="Title">
                <input class="btn btn-primary ml-md-3 mt-2 mt-md-0" type="submit" name="" value="Add Todo">
            </div>
        </form>
    </div>
</div>